﻿<div class="tab-content">

    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>Notification</h3>
                <p>submit notification for all users to see</p>
            </div>


            <form name="notificationForm">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Type:</label>
                        <select ng-model="vm.Notification.Type" class="form-control validation" required>
                            <option value="Announcements" selected>Announcements</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="pwd">Link:</label>
                        <input type="text"
                            ng-model="vm.Notification.Link"
                            class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label for="pwd">Title:</label>
                        <input type="text"
                            ng-model="vm.Notification.Title"
                            class="form-control validation" required>
                    </div>
                    <div class="col-md-12">
                        <label for="pwd">Description:</label>
                       <textarea
                             ng-model="vm.Notification.Description"
                            class="form-control validation" required>
                       </textarea>
                    </div>

                    <div class="col-md-offset-4 col-md-4">
                        <input type="button" class="form-control btn-primary"
                            ng-click="vm.CreateNotification(vm.Notification)"
                            ng-disabled="notificationForm.$invalid || vm.Processing"
                            style="margin: 20px"
                            value="Notify all users">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
