﻿<div class="tab-content"
    ng-controller="LogsController as ac">

    <div class="tab-pane fade active in">
        <div class="expiredlistings-tab">
            <div class="tab-header">
                <h3>Logs</h3>
                <p>View system logs</p>
            </div>
         
        </div>
    </div>
</div>