<div class="ads-info">
    <div class="row">
        <div class="col-md-12">
            <div class="my-ads section">
                <h2>Favorite Ads</h2>
                <!-- ad-item -->
                <div class="row">

                    <!-- start ad -->
                    <div class="col-sm-4">
                        <div class="featured">
                            <div class="featured-image">
                                <a href="ad-details.html">
                                    <img src="./assets/img/ad-1.jpg" alt="" class="img-respocive">
                                </a>
                                <a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="fa bi_ecommerce-tracking"></i></a>
                            </div>

                            <!-- ad-info -->
                            <div class="ad-info">
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        I want to Buy:
                                    </div>
                                    <div class="col-xs-7" style="padding: 0">
                                        <span class="item-buy"><a href="ad-details.html">Apple MacBook Pro with Retina Display</a></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 item-container">
                                        Willing to Pay:
                                    </div>
                                    <div class="col-xs-7" style="padding: 0">
                                        <span class="budget">₱40,000.00 - ₱45,800.00<span>
                                    </div>
                                </div>
                                <div class="make-offer">
                                    <a href="#!" class="btn btn-primary">See Offers</a>
                                </div>
                            </div>
                            <!-- ad-info -->

                            <!-- ad-meta -->
                            <div class="ad-meta" style="background-color: #fff">
                                <div class="meta-content">
                                    <span class="dated" style="padding-left: 25px; font-size: 13px"><i class="bi_time-wall-clock"></i>2 days ago <i class="bi_location-alt-pin"></i>Ortigas, Metro Manila</span><br>
                                </div>
                                <div class="user-option pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-heart"></i></a>
                                </div>
                                <!-- item-info-right -->
                            </div>
                            <!-- ad-meta -->
                        </div>
                        <!-- featured -->
                    </div>
                    <!-- col -->
                    <!-- /end ad -->

                    <!-- pagination  -->
                    <div class="col-xs-12">
                        <div class="text-center">
                            <ul class="pagination ">
                                <li><a href="#"><i class="bi_interface-arrow-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#">30</a></li>
                                <li><a href="#"><i class="bi_interface-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- pagination  -->

                </div>
                <!-- row-->
            </div>
            <!-- my ads-->
        </div>
        <!-- col 12-->
    </div>
    <!-- row -->

</div>
<!-- ads-info -->
