﻿<div class="ads-info" ng-controller="ProfileDashboardController as pd">
    <div class="row">
        <div class="col-md-8">
            <div class="my-ads section">
                <div class="row">
                    <div class="col-md-10">
                        <h2>My Ads</h2>
                    </div>
                    <!--<div class="col-md-2">
                        <select id="Select111"
                            ng-model="vm.Filter.Selling"
                            ng-options="o.v as o.n for o in [{ n: 'All', v: null },
                                { n: 'Searching', v: false }, 
                                { n: 'Selling', v: true }]"
                            lass="form-control search-dropdown margin-top-5">
                        </select>
                    </div>-->
                </div>
                <!-- ad-item -->
                <div class="row">

                    <!-- <div ng-include="'app/Views/Shared/AdsList.html'">
                    </div>-->
                    <div class="row">
                        <div class="separator2">
                            <span class="separator-text">Searching</span>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <post-list posts="vm.BuyPosts"
                            pagination-setting="vm.BuyPagination"
                            pagination-id="1"
                            func="vm.SearchBuyPosts(newPageNumber,oldPageNumber)"></post-list>
                    </div>
                    <div class="row">
                        <div class="separator2">
                            <span class="separator-text">Selling</span>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <post-list posts="vm.SellPosts"
                            pagination-setting="vm.SellPagination"
                             pagination-id="2"
                            func="vm.SearchSellPosts(newPageNumber,oldPageNumber)"></post-list>
                    </div>
                    <!-- col -->
                    <!-- /end ad -->
                    <div class="col-xs-12" ng-if="vm.IsHimself() && vm.Post.List.length>0">
                        <div class="text-center">
                            <ul class="pagination">
                                <li><a ng-href="Profile/{{vm.Profile.ID}}/My Ads">View More <i class="bi_interface-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- my-ads -->

    <div class="col-md-4">
        <div class="short-info padding-30">
            <h4>More Information</h4>
            <!-- social-icon -->
            <ul>
                <li ng-if="vm.Profile.Type == 'individual'"><i class="bi_user-alt"></i><span>I'm an individual</span></li>
                <!-- if user is a company or nonprofit -->
                <li ng-if="vm.Profile.Type == 'company'"><i class="bi_building-office"></i><span>We're a company</span></li>
                <li><i class="bi_tool-mobile"></i><span>{{vm.Profile.Mobile}}</span></li>
                <li><i class="bi_com-email-o"></i><span>{{vm.Profile.Email}}</span></li>
                <li><i class="bi_location-pin-map"></i><span>{{vm.Profile.City}}, {{vm.Profile.Country}}</span></li>
                <li><i class="bi_web-report-a"></i><a href="report.html">Report this person</a></li>
            </ul>
            <!-- social-icon -->
        </div>

        <div class="short-info padding-30">
            <h4>Social Media</h4>
            <!-- social-icon -->
            <ul>
                <li>
                    <a href="#!" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="#!" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="#!" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#!" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>

        <div class="short-info padding-30"
            ng-if="!vm.Auth.IsAuthenticated">
            <span>You need to <a href="Login" style="text-decoration: underline">login</a> to review</span>
        </div>

        <div class="short-info padding-30" ng-form="reviewForm"
            ng-if="vm.AuthenticatedAndNotHimself() && !vm.Reviewed">
            <h4>Rate your experience</h4>
            <h4>with {{::vm.Profile.Name}}</h4>
            <form action="#!">
                <!--rating-->
                <fieldset class="bs-rating-font-30">
                    <uib-rating ng-model="vm.Review.Rating" style="font-size: 30px"
                        state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
                </fieldset>
                <!--review type-->
                <div class="form-group">
                    <select ng-model="vm.Review.Type" class="form-control" required>
                        <option value="" selected>Please choose</option>
                        <option value="Seller">As a seller</option>
                        <option value="Service Provider">As a service provider</option>
                        <option value="Employer">As an employer</option>
                    </select>
                </div>
                <!--review description-->
                <div class="form-group">
                    <textarea type="text" rows="5" class="form-control"
                        ng-model="vm.Review.Description" maxlength="200"
                        placeholder="Describe your experience" required>
                        </textarea>
                </div>
                <!--submit-->
                <div class="text-right margin-top-20">
                    <button class="btn btn-success" data-toggle="tooltip"
                        ng-disabled="reviewForm.$invalid"
                        ng-click="vm.SubmitReview(vm.Review)"
                        data-placement="top" title="Submit Review">
                        <i class=" bi_com-paperplane"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- row -->
</div>
<!-- row -->
