<div class="profile section" ng-controller="ProfileSettingsController as ps" ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="row">
        <div class="col-md-4">
            <div class="user-pro-section">
                <div class="profile-details section">
                    <h2>Profile Picture</h2>
                    <div class="form-group">
                        <img ng-if="vm.Profile.ImageUrl" ng-src="{{vm.Profile.ImageUrl}}" class="margin-bottom-5" />
                        <img ng-if="!vm.Profile.ImageUrl" ng-src="./assets/img/user2-placeholder.png" class="margin-bottom-5">
                        <!--<p>
                            <a ng-click="ps.RemoveImage()" class="remove-link">Remove Picture</a>
                        </p>-->
                        <input type="file"
                               ng-disabled="vm.Processing"
                               ngf-select="ps.UploadImage(ps.image)"
                               ng-model="ps.image"
                               name="file"
                               accept="image/jpeg,image/png"
                               ngf-max-size="3MB"
                               ngf-model-invalid="ps.Details.errorFile">
                    </div>
                </div>
            </div>
        </div>
        <!-- col-->
        <div class="col-md-8">
            <div class="user-pro-section">
                <!-- profile-details -->
                <div class="profile-details section" ng-form="updateProfileForm">
                    <h2>Edit Profile</h2>
                    <!-- form -->
                    <div class="form-group">
                        <label class="label-title label-offer">Full Name<span class="required">*</span></label>
                        <input type="text" class="form-control validation" name="fullname"
                               ng-model="ps.Profile.Name" placeholder="ex: John Doe"
                               minlength="5" maxlength="40" required>
                        <span class="small-red"
                              ng-if="updateProfileForm.fullname.$error.minlength || updateProfileForm.fullname.$error.maxlength">Minimum length of 5 to maximum of 40</span>
                    </div>

                    <div class="form-group" ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }">
                        <label class="label-title label-offer">Email Address<span class="required">*</span></label>
                        <input type="email" class="form-control validation" name="email"
                               ng-disabled="true"
                               ng-model="ps.Profile.Email" placeholder="you@example.com"
                               ui-validate-async="{unique : 'vm.IfEmailIsUsedOtherThanThisUser($modelValue)'}"
                               maxlength="40" required>
                        <span class="small-red" ng-if="updateProfileForm.email.$error.email">Full email address example: example@provider.com</span>
                        <span class="small-red" ng-if="updateProfileForm.email.$error.unique">Email has already been used.</span>

                    </div>

                    <div class="form-group">
                        <label class="label-title label-offer">Contact No.<span class="required">*</span></label>
                        <input type="text" class="form-control validation" name="mobile"
                               ng-model="ps.Profile.Mobile" placeholder="Mobile"
                               minlength="10" maxlength="13" required>
                        <span class="small-red" ng-if="updateProfileForm.mobile.$error.minlength">Minimum length of 10</span>
                        <span class="small-red" ng-if="updateProfileForm.mobile.$error.maxlength">Maximum length of 13</span>
                    </div>

                    <div class="form-group">
                        <label class="label-title label-offer">Country <span class="required">*</span></label>
                        <select class="form-control validation" ng-options="country as country.Name for country in vm.Countries track by country.ID"
                                ng-model="vm.Selected.Country" required>
                            <option value="">Select a country</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="label-title label-offer">City<span class="required">*</span></label>
                        <select class="form-control validation" ng-options="country as country.Name for country in vm.Selected.Country.Subs"
                                ng-model="vm.Selected.City" required>
                            <option value="">Select a city</option>
                        </select>
                    </div>

                    <!-- update profile-->
                    <div class="preferences-settings section">
                        <button type="submit" ng-click="vm.UpdateUser(ps.Profile)"
                                ng-disabled="updateProfileForm.$invalid || vm.Processing"
                                class="btn btn-primary">
                            Update Profile
                        </button>
                    </div>
                </div>

                <!-- change-password -->
                <div class="change-password section" ng-form="changePasswordForm">

                    <h2>Change password</h2>
                    <!-- form -->
                    <div class="form-group">
                        <label class="label-title label-offer">Old Password</label>
                        <input type="password" class="form-control validation" name="oldpassword"
                               ng-model="vm.ChangePasswordObject.OldPassword"
                               minlength="6" maxlength="50"
                               ng-required="vm.ChangePasswordObject.Password || vm.ChangePasswordObject.Password2">
                        <span class="small-red" ng-if="changePasswordForm.oldpassword.$error.minlength">Minimum length of 6</span>
                    </div>

                    <div class="form-group">
                        <label class="label-title label-offer">New Password</label>
                        <input type="password" class="form-control validation" name="password"
                               ng-model="vm.ChangePasswordObject.Password"
                               minlength="6" maxlength="50" ng-required="vm.ChangePasswordObject.OldPassword">
                        <span class="small-red" ng-if="changePasswordForm.password.$error.minlength">Minimum length of 6</span>

                    </div>

                    <div class="form-group">
                        <label class="label-title label-offer">Confirm Password</label>
                        <input type="password" class="form-control validation" name="password2"
                               ng-model="vm.ChangePasswordObject.Password2"
                               minlength="6" maxlength="50" ng-required="vm.ChangePasswordObject.Password">
                        <span class="small-red" ng-if="changePasswordForm.password2.$error.minlength">Minimum length of 6</span>
                        <span class="small-red" ng-if="vm.ChangePasswordObject.Password != vm.ChangePasswordObject.Password2">Passwords must match</span>
                    </div>

                    <!-- Update password-->
                    <div class="preferences-settings section">
                        <button ng-click="vm.ChangePassword(vm.ChangePasswordObject)" type="submit"
                                ng-disabled="changePasswordForm.$invalid ||
                             (vm.ChangePasswordObject.Password != vm.ChangePasswordObject.Password2) ||
                             vm.Processing ||
                            (!vm.ChangePasswordObject)"
                                class="btn btn-primary">
                            Change Password
                        </button>
                    </div>
                </div>


                <!-- preferences-settings -->
                <div class="preferences-settings section">
                    <h2>Preferences Settings</h2>
                    <!-- checkbox -->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="sms">
                            I want to receive Email/SMS Alerts for people responding to my Ad.
                        </label>
                        <label>
                            <input type="checkbox" name="newsletter">I want to receive newsletters.
                        </label>
                    </div>
                    <!-- checkbox -->
                    <div class="margin-top-20">
                        <a href="ad-details.html" type="submit" class="btn btn-primary">Update Settings</a>
                    </div>
                </div>
                <!-- preferences-settings -->
            </div>
            <!-- user-pro-edit -->
        </div>
        <!-- profile -->
    </div>
    <!-- row -->
</div>
