﻿@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Searchingfor.co</title>

    @*facebook preview settings*@
    <meta property="og:url" content="http://www.searchingfor.co" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Searchingfor.co - E-commerce for the deserving" />
    <meta property="og:description" content="The best thing to happen since e-commerce.

          Conceptualized to provide equal opportunity for both supply and demand." />
    @*my choice for small pic*@
    <meta property="og:image" content="http://www.searchingfor.co/assets/logo-green300x300.jpg" />
    @*<meta property="og:image" content="http://www.searchingfor.co/assets/DescriptionImage2048x1088.jpg" />*@
    <meta property="og:image" content="http://www.searchingfor.co/assets/2DescriptionImage2048x1088.jpg" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body cz-shortcut-listen="true">
    <!-- MENU -->
    <div class="menu module">
        <div class="container">
            <div class="row">
                <!-- LOGO -->
                <div class="col-sm-4 s-logo wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <a title="">
                        @*<img src="./assets/logo-w-words-small-300x49.png" alt="searchingfor">*@
                        <img src="./assets/logo.png" alt="searchingfor">
                    </a>
                </div>
                <!-- /LOGO -->
            </div>
        </div>
    </div>
    <!-- /MENU -->
    <!-- SUBSCRIBE -->
    <div class="subscribe module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 s-subscribe">
                    <span class="wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">be the first to know</span>
                    <h3 class="wow fadeInLeft animated" data-wow-delay="1s" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 1s; animation-name: fadeInLeft;">Searchingfor.co is launching soon @*in <strong>48 days</strong>.*@</h3>
                    <span class="wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;"><i>E-commerce</i></span>
                </div>
            </div>
            <!-- SUBSCRIBE FORM -->
            <div class="row">
                <div class="col-sm-12 s-subscribe-form wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">

                    @using (Html.BeginForm("Index", "Home"))
                    {
                       
                            <input type="text" value="" name="email" id="subscribe-email" placeholder="Your e-mail">
                            <input type="submit" value="Notify me on launch" name="subscribe-submit">
                       
                        <label for="subscribe-email" class="s-subscribe-message">@ViewBag.Message</label>
                    }
                </div>
            </div>
            <!-- /SUBSCRIBE FORM -->
        </div>
    </div>
    <!-- /SUBSCRIBE -->
    <!-- jQuery -->
    <script src="./assets/jquery-1.11.0.min.js"></script>
    <!-- Ajax mailchimp -->
    <script src="./assets/jquery.ajaxchimp.js"></script>
    <!-- WOW.js -->
    <script src="./assets/wow.min.js"></script>
    <!-- Custom scripts -->
    <script src="./assets/custom.js"></script>
    <!-- jQuery UI -->
    <script src="./assets/jquery-ui.min.js"></script>

</body>
</html>
