﻿<header class="header-bg">
    <div class="home-banner-contianer">
        <div class="home-banner-contianer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <p class="banner-browse-txt">Discover</p>
                        <h1>What is in Demand</h1>
                    </div>
                    <div class="col-md-8 col-xs-12 col-md-offset-2 col-sm-offset-0">
                        <div class="search-bar">
                            <form ng-submit="vm.Search()">
                                <div class="search-bar-left">
                                    <input type="text"
                                        ng-model="vm.SearchTemp.What"
                                        placeholder="See whats in demand" name="keywords" class="search-input home-search-input" />
                                    <div class="hidden-xs ui-widget border-dropdown">
                                        <!--<select class="comboboxs">-->
                                        <!--{{vm.SearchTemp.Country}}-->
                                        <!-- <select class="comboboxs"
                                            ng-model="vm.SearchTemp.Country"
                                            ng-options="categories.Name for categories in vm.Countries track by categories.ID">
                                        </select>-->
                                        <!--<cdropdown title="howdydo" items="vm.Countries" model="vm.SearchTemp.Country2">
                                        </cdropdown>-->
                                        <cdropdown title="Where" items="vm.Countries" model="vm.SearchTemp.Country">
                                        </cdropdown>
                                    </div>
                                </div>
                                <div id="boom" class="search-bar-right">
                                    <input type="button"
                                        class="search-btn"
                                        ng-click="vm.Search()"
                                        value="Search" />
                                </div>
                                <div class="clearfix"></div>
                                <!-- ../clearfix -->
                            </form>
                        </div>
                        <!-- ../search-bar -->
                        <div class="text-center search-description">
                            <p>
                                Describe what you are looking for! get the best price
                    <br>
                                at best quality. No more more hassel searching the web.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="section-row aliceblue">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="home-categoires margin-top-subtract-55 padding-left-0">
                        <li>
                            <a href="/#/Posts" class="border-radius-5">
                                <span>
                                    <i class="icon-office font-40"></i>
                                    <br>
                                    Food
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="listing.html" class="border-radius-5">
                                <span>
                                    <i class="icon-car-1 font-40"></i>
                                    <br>
                                    Automotives
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="listing.html" class="border-radius-5">
                                <span>
                                    <i class="icon-smartphone-2 font-40"></i>
                                    <br>
                                    Mobile
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="listing.html" class="border-radius-5">
                                <span>
                                    <i class="icon-monitor-2 font-40"></i>
                                    <br>
                                    Computers
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="listing.html" class="border-radius-5">
                                <span>
                                    <i class="icon-vest font-40"></i>
                                    <br>
                                    Clothing
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="listing.html" class="border-radius-5">
                                <span>
                                    <i class="icon-washing-machine font-40"></i>
                                    <br>
                                    Appliance
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="section-row aliceblue exculsive-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-container text-center ">
                    <h1>Recent Ad Listings</h1>
                    <div class="sub-title">
                        Check out what people are searching for. You can <a href="#!">post an ad now for free!</a>
                    </div>
                </div>
                <!-- ../section-title-->
            </div>
        </div>
        <div class="section-content-container list-grid-section">
            <div class="row">

                <div ng-repeat="post in vm.Posts"
                    class="col-md-3 col-sm-6 grid-box-contianer grid-box-contianer1">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                            <!--<div class="grid-box-quick">
                                <ul class="post-quick-links">
                                    <li>
                                        <a class="icon-quick-eye md-trigger" ng-click="vm.GotoPost(post)"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>-->
                        </div>
                        <div class="grid-box-description">
                            <h4 class="h4">
                                <a ng-click="vm.GotoPost(post)">{{::post.Title}}
                                </a>
                            </h4>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>{{::post.Owner.City.Name}}, {{::post.Owner.Country.Name}}</span>
                            </p>
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ {{::post.BudgetRangeMin}} - {{::post.BudgetRangeMax}}</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!--  <div class="col-md-3 col-sm-6 grid-box-contianer grid-box-contianer1">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                            <div class="grid-box-quick">
                                <ul class="post-quick-links">
                                    <li>
                                        <a class="icon-quick-eye md-trigger" href="post-detail.html"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-box-description ">
                            <h4 class="h4">
                                <a href="post-detail.html">Nike AirMax (Black)
                                </a>
                            </h4>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>Pasig, Metro Manila</span>
                            </p>
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ 2,500.00</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 grid-box-contianer grid-box-contianer1">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                            <div class="grid-box-quick">
                                <ul class="post-quick-links">
                                    <li>
                                        <a class="icon-quick-eye md-trigger" href="post-detail.html"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-box-description ">
                            <h4 class="h4">
                                <a href="post-detail.html">Nike AirMax (Black)
                                </a>
                            </h4>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>Pasig, Metro Manila</span>
                            </p>
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ 3,000.00</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 grid-box-contianer grid-box-contianer1">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                            <div class="grid-box-quick">
                                <ul class="post-quick-links">
                                    <li>
                                        <a class="icon-quick-eye md-trigger" href="post-detail.html"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-box-description ">
                            <h4 class="h4">
                                <a href="post-detail.html">Nike AirMax (Black)
                                </a>
                            </h4>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>Pasig, Metro Manila</span>
                            </p>
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ 2,500.00 - 3,000.00</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 grid-box-contianer grid-box-contianer1">
                    <div class="grid-box border border-radius-2">
                        <div class="grid-box-thumb-container">
                            <div class="grid-box-thumb">
                                <img src="./assets/img/default.png">
                            </div>
                            <div class="grid-box-quick">
                                <ul class="post-quick-links">
                                    <li>
                                        <a class="icon-quick-eye md-trigger" href="post-detail.html"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-box-description ">
                            <h4 class="h4">
                                <a href="post-detail.html">Nike AirMax (Black)
                                </a>
                            </h4>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span>Pasig, Metro Manila</span>
                            </p>
                        </div>
                        <div class="grid-box-bottom">
                            <div class="pull-left">
                                <span class="budget">₱ 2,500.00 - 3,000.00</span>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="add-to-fav simptip-position-top simptip-movable" data-tooltip="Add to favorites">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
        <!-- ../section-content-container-->
    </div>
</div>
<!-- ../section-row -->


<div class="section-row margin-bottom-50">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title-container text-center">
                    <h1>Buyable or Swappable</h1>
                </div>
                <ul class="home-categoires more-categories margin-top-50 padding-left-0">
                    <li>
                        <a href="/#/Posts/Real Estate" class="border-radius-5">
                            <span>
                                <i class="icon-office font-40"></i>
                                <br>
                                Real Estate
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-car-1 font-40"></i>
                                <br>
                                Automotives
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-smartphone-2 font-40"></i>
                                <br>
                                Mobile
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-monitor-2 font-40"></i>
                                <br>
                                Computers
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-vest font-40"></i>
                                <br>
                                Clothing
                            </span>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-turtle- font-40"></i>
                                <br>
                                Pets
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-palette font-40"></i>
                                <br>
                                Hobbies
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-table-lamp-2 font-40"></i>
                                <br>
                                Furniture
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-washing-machine font-40"></i>
                                <br>
                                Appliances
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="section-title-container text-center">
                    <h1>Community</h1>
                </div>
                <ul class="home-categoires more-categories margin-top-50 padding-left-0">
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-suv-1 font-40"></i>
                                <br>
                                Carpool
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-blood-drop font-40"></i>
                                <br>
                                Blood
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="section-title-container text-center">
                    <h1>Services</h1>
                </div>
                <ul class="home-categoires more-categories margin-top-50 padding-left-0">
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-gear font-40"></i>
                                <br>
                                Carpenter
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-gear font-40"></i>
                                <br>
                                House Maid
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>
                                <i class="icon-gear font-40"></i>
                                <br>
                                Driver
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="listing.html" class="border-radius-5">
                            <span>More...
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="section-row aliceblue testimonial section-content-container">
    <div class="container">
        <div class="row">
            <h3 class="margin-bottom-50 text-center">People talking about us</h3>
            <div class="col-sm-offset-1 col-sm-5">
                <div class="testimonial-inner-box">

                    <div class="testimonial-description border-radius-5">
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                        </p>
                    </div>
                    <div class="testimonial-user-info user-info">
                        <div class="testimonial-user-thumb user-thumb">
                            <img src="./assets/img/placeholder.png" alt="user-thumb" />
                        </div>
                        <div class="testimonial-user-txt user-text">
                            <label class="testimonial-user-name user-name">Juan Dela Cruz</label><br>
                            <label class="testimonial-user-position user-position">Tech Shop</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="testimonial-inner-box">

                    <div class="testimonial-description border-radius-5">
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                        </p>
                    </div>
                    <div class="testimonial-user-info user-info">
                        <div class="testimonial-user-thumb user-thumb">
                            <img src="./assets/img/placeholder.png" alt="user-thumb" />
                        </div>
                        <div class="testimonial-user-txt user-text">
                            <label class="testimonial-user-name user-name">Juan Dela Cruz</label><br>
                            <label class="testimonial-user-position user-position">Tech Shop</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="section-row nearby-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-container text-center ">
                    <h1>Available in iOS and Android </h1>
                    <div class="sub-title">See what's in demand here!</div>
                </div>
                <div class="section-content-container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="nearby-banner">
                                <img src="./assets/img/app-play.png" width="400px" />
                            </div>
                            <div class="nearby-description">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium dolore mque<br>
                                    laud antium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                            <br>
                                    arc hitecto beatae vitae dicta sunt explicabo.

                                </p>
                            </div>
                            <ul class="nearby-download">
                                <li>
                                    <a href="#!">
                                        <img src="./assets/img/apple-icon.png" alt="apple-icon" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">
                                        <img src="./assets/img/google-play-icon.png" alt="google-play-icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
