﻿<section id="services-ad" class="clearfix home-three">
    <div class="container">
        <div class="row">
            <!-- banner -->
            <div class="col-sm-12">
                <div class="banner margin-top-80">
                    <!-- banner-form -->
                    <div class="banner-form">
                        <form name="searchForm">
                            <!-- category-change -->

                            <input type="text" class="form-control"
                                   ng-model="vm.Filter.Title"
                                   placeholder="See whats in demand." style="max-width: 200px">
                            <select class="form-control search-dropdown country" ng-options="country as country.Name for country in vm.Countries"
                                    ng-model="vm.Filter.Country">
                                <option value="">All countries</option>
                            </select>
                            <select class="form-control search-dropdown city" ng-options="country as country.Name for country in vm.Filter.Country.Subs"
                                    ng-model="vm.Filter.City">
                                <option value="">All cities</option>
                            </select>
                            <select id="Select111"
                                    ng-disabled="true"
                                    ng-model="vm.Filter.Selling"
                                    ng-options="o.v as o.n for o in [{ n: 'SEARCHING', v: false },
                                        { n: 'SELLING', v: true }]"
                                    class="form-control search-dropdown adtype"></select>
                            <!-- <input type="text" class="form-control" placeholder="Where?" style="max-width: 200px; border-left: 1px solid #e8e8e8;">-->
                            <button type="button" class="form-control"
                                    ng-disabled="vm.Processing"
                                    ng-click="vm.Filtering = true;vm.SearchPosts()" value="Search">
                                <i class="bi_interface-search font-20"></i>
                            </button>
                        </form>
                    </div>
                    <!-- banner-form -->
                </div>
            </div>
            <!-- banner -->
        </div>
        <!-- row -->

        <div class="category-info">
            <div class="row">
                <!-- accordion-->
                <div class="col-sm-4 col-md-3">
                    <div class="accordion">
                        <!-- panel-group -->
                        <div class="panel-group" id="accordion">

                            <!-- Categories panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                                        <h4 class="panel-title">Categories<span class="pull-right"><i class="bi_interface-minus"></i></span></h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-one" class="panel-collapse collapse in">
                                    <!-- panel-body -->
                                    <div class="panel-body">

                                        <div ng-if="vm.Filter.Category">
                                            Selected Category:
                                            <a class="small">
                                                <ul class="">
                                                    <li ng-repeat-start="Name in vm.Filter.Category.CategoryNames"
                                                        ng-if="$first">
                                                        <a><span>{{::Name}}</span></a>
                                                    </li>
                                                    <li ng-repeat-end
                                                        ng-if="!$first">
                                                        <a><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></a>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a ng-click="vm.ResetCategory()"
                                               style="cursor: pointer">
                                                <span class="bi_interface-cross small">Reset</span>
                                            </a>
                                        </div>
                                        <!--{{vm.Filter.Category.Subs}}-->
                                        <ul ng-if="!vm.Filter.Category || vm.Filter.Category.Subs.length>0">
                                            <li><i>Select A <span ng-if="vm.Filter.Category">Sub-</span>Category</i></li>
                                            <li ng-repeat="sub in vm.Selection.Category">
                                                <a ng-click="vm.GetCategoryChildren(sub)"
                                                   style="cursor: pointer"
                                                   ng-class="vm.Filter.Category.Name == sub.Name?'underline':''">
                                                    {{::sub.Name}}
                                                    <!--<span>(10)</span>-->
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->
                            <!-- Type panel -->
                            <div class="panel-default panel-faq"
                                 ng-show="vm.IfCategoryHas('Buyable/Swappable')">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-six">
                                        <h4 class="panel-title">
                                            Type of Ad
                                            <span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-six" class="panel-collapse collapse">
                                    <!-- panel-body -->
                                    <div class="panel-body">
                                        <label for="buyable" class="style"
                                               ng-class="vm.AdTypeContains('Buy')?'checked':''">
                                            <input type="checkbox" name="buyable" id="buyable" ng-model="vm.Filter.Buyable"
                                                   ng-change="vm.OnChangeAdType()">
                                            Buy
                                        </label>
                                        <label for="swappable"
                                               ng-class="vm.AdTypeContains('Swap')?'checked':''">
                                            <input type="checkbox" name="swappable" id="swappable" ng-model="vm.Filter.Swappable"
                                                   ng-change="vm.OnChangeAdType()">
                                            Swap
                                        </label>
                                        <label for="rentable"
                                               ng-class="vm.AdTypeContains('Rent')?'checked':''">
                                            <input type="checkbox" name="rentable" id="rentable" ng-model="vm.Filter.Rentable"
                                                   ng-change="vm.OnChangeAdType()">
                                            Rent
                                        </label>
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->
                            <!--Urgency panel -->
                            <!--<div class="panel-default panel-faq">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-seven">
                                        <h4 class="panel-title">Urgency
                                            <span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>

                                <div id="accordion-seven" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <label for="noturgent" ng-class="vm.Filter.Urgency[99]?'checked':''">
                                            <input type="checkbox" name="noturgent" id="noturgent"
                                                ng-model="vm.Filter.Urgency[99]" ng-true-value="'99'" ng-false-value="">
                                            Not Urgent</label>
                                        <label for="asap" ng-class="vm.Filter.Urgency[0]?'checked':''">
                                            <input type="checkbox" name="asap" id="asap"
                                                ng-model="vm.Filter.Urgency[0]" ng-true-value="'0'" ng-false-value="">
                                            As soon as possible</label>
                                        <label for="week" ng-class="vm.Filter.Urgency[1]?'checked':''">
                                            <input type="checkbox" name="week" id="week"
                                                ng-model="vm.Filter.Urgency[1]" ng-true-value="'1'" ng-false-value="">
                                            Within a week</label>
                                        <label for="two-weeks" ng-class="vm.Filter.Urgency[2]?'checked':''">
                                            <input type="checkbox" name="two-weeks" id="two-weeks"
                                                ng-model="vm.Filter.Urgency[2]" ng-true-value="'2'" ng-false-value="">
                                            Within 2 weeks</label>
                                        <label for="month" ng-class="vm.Filter.Urgency[3]?'checked':''">
                                            <input type="checkbox" name="month" id="month" selected
                                                ng-model="vm.Filter.Urgency[3]" ng-true-value="'3'" ng-false-value="">
                                            Within a month</label>
                                    </div>
                                </div>
                            </div>-->
                            <!-- panel -->
                            <!-- panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-three">
                                        <h4 class="panel-title">
                                            Budget
                                            <span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-three" class="panel-collapse collapse in">
                                    <!-- panel-body -->
                                    <div class="panel-body">
                                        <div class="price-range">
                                            <!--price-range-->
                                            <div class="price">
                                                <input type="number" ng-model="vm.Filter.Budget" class="form-control"><br />
                                            </div>
                                        </div>
                                        <!--/price-range-->
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->
                            <!-- Ad placement -->
                            <!-- <div class="panel-default panel-faq">
                                <div class="panel-body">
                                    <img src="./assets/img/ad-placeholder.png">
                                </div>
                            </div>-->
                            <!-- panel -->

                        </div>
                        <!-- panel-group -->
                    </div>
                </div>
                <!-- accordion-->
                <!-- recommended-ads -->
                <div class="col-sm-7 col-md-9" id="posts">

                    <div class="section recommended-ads" style="background-color: transparent; padding: 10px 25px;">
                        <!-- featured-top -->
                        <div class="featured-top">

                            <div ng-if="vm.Filter.Category">
                                <h4 ng-repeat-start="Name in vm.Filter.Category.CategoryNames"
                                    ng-if="$first">
                                    {{::Name}}
                                </h4>
                                <h4 ng-repeat-end ng-if="!$first">
                                    <i class="bi_interface-right"></i>{{::Name}}
                                </h4>
                            </div>
                            <div ng-if="!vm.Filter.Category || vm.Filter.Category.CategoryNames.length<=0">
                                <h4>All Categories</h4>
                            </div>
                            <div class="dropdown pull-right">
                                <!-- category-change -->
                                <div class="dropdown category-dropdown">
                                    <h5>Sort by:</h5>
                                    <a data-toggle="dropdown" href="#"><span class="change-text">{{vm.Filter.Sort?vm.Filter.Sort:'Date Posted'}}</span><i class="bi_interface-bottom"></i></a>
                                    <ul class="dropdown-menu category-change" style="cursor: pointer">
                                        <li><a ng-click="vm.Filter.Sort='Date Posted';vm.SearchPosts()">Date Posted</a></li>
                                        <li><a ng-click="vm.Filter.Sort='Budget - Low to High';vm.SearchPosts()">Budget - Low to High</a></li>
                                        <li><a ng-click="vm.Filter.Sort='Budget - High to Low';vm.SearchPosts()">Budget - High to Low</a></li>
                                    </ul>
                                </div>
                                <!-- category-change -->
                            </div>
                        </div>
                        <!-- featured-top -->
                        <!--Ads List-->
                        <div class="row">

                            <!--no advertisment yet-->
                            <div class="col-xs-12" ng-if="vm.Posts.List.length<=0 || !vm.Posts.List">
                                <div class="text-center padding-top-30">
                                    <h4 class="text-gray">No ads available for this category</h4>
                                </div>
                                <div class="text-center padding-top-30">
                                    <a href="/Posting" class="btn btn-primary btn-post">Be the first to post an ad</a>
                                </div>
                            </div>

                            <!-- begin ad  -->
                            <div class="col-xs-12"
                                 dir-paginate="post in vm.Posts.List | itemsPerPage: vm.Pagination.PageSize"
                                 total-items="vm.Posts.Count"
                                 current-page="vm.Pagination.Current">
                                <div class="listing">
                                    <!-- ad-info -->
                                    <div class="ad-info listing-details">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-2">
                                                <div class="responsive-container">
                                                    <div class="img-container">
                                                        <a ng-href="/Post/{{::post.LinkPostfix}}">
                                                            <img ng-src="{{::vm.Util.GetPostPrimaryImageLink(post)}}" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-6 ad-listing-info">
                                                <span class="location">{{::vm.TextModifierService.RequestText(post)}}: </span>
                                                <span class="item-buy"><a ng-href="/Post/{{::post.LinkPostfix}}">{{::post.Title}}</a></span>
                                                <span ng-show="::post.Featured" class="label label-default">featured</span><br>
                                                <!-- <span class="type margin-right-5"><i class="bi_doc-bookmark"></i>Brand New</span>-->
                                                <span>{{::vm.TextModifierService.BudgetText(post.Category,post.Selling)}}: <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span></span>
                                                <div class="meta-content">
                                                    <span class="dated" style="font-size: 13px">
                                                        <i class="bi_time-wall-clock"></i><span am-time-ago="::post.ModifiedOn"></span>
                                                        <i class="bi_location-alt-pin"></i>{{::post.DisplayLocation}}
                                                    </span><br>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4 text-center offer-wrapper">
                                                <div class="width-100-per">
                                                    <a ng-href="/Post/{{::post.LinkPostfix}}" class="btn btn-primary btn-view-job">{{::vm.TextModifierService.ButtonText(post.Category,post.Selling)}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--row -->
                                    </div>
                                </div>
                            </div>

                            <!--pagination-->
                            <div class="col-xs-12" ng-if="vm.Posts.List.length>0">
                                <div class="text-center">
                                    <dir-pagination-controls class="pagination"
                                                             max-size="10"
                                                             on-page-change="vm.SearchPosts(newPageNumber, oldPageNumber)"
                                                             auto-hide="true">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                            <!-- pagination  -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
</section>
<!-- main -->
