﻿<section id="services-ad" class="clearfix home-three">
    <div class="container">
        <div class="row">
            <!-- banner -->
            <div class="col-sm-12">
                <div class="banner margin-top-80">
                    <!-- banner-form -->
                    <div class="banner-form">
                        <form name="searchForm">
                            <!-- category-change -->

                            <input type="text" class="form-control"
                                ng-model="vm.Filter.Title"
                                placeholder="What are you searching for?" style="max-width: 200px">
                            <select class="form-control search-dropdown country" ng-options="country as country.Name for country in vm.Countries"
                                ng-model="vm.Filter.Country"
                                style="max-width: 235px; border-left: 1px solid #e8e8e8;">
                                <option value="">Select a country</option>
                            </select>
                            <select class="form-control search-dropdown city" ng-options="country as country.Name for country in vm.Filter.Country.Subs"
                                ng-model="vm.Filter.City"
                                style="max-width: 230px; border-left: 1px solid #e8e8e8;">
                                <option value="">Select a city</option>
                            </select>
                            <!-- <input type="text" class="form-control" placeholder="Where?" style="max-width: 200px; border-left: 1px solid #e8e8e8;">-->
                            <button type="button" class="form-control"
                                ng-disabled="vm.Processing"
                                ng-click="vm.Filtering = true;vm.SearchPosts()" value="Search">
                                <i class="bi_interface-search font-20"></i>
                            </button>
                        </form>
                    </div>
                    <!-- banner-form -->
                </div>
            </div>
            <!-- banner -->
        </div>
        <!-- row -->

        <div class="category-info">
            <div class="row">
                <!-- accordion-->
                <div class="col-sm-4 col-md-3">
                    <div class="accordion">
                        <!-- panel-group -->
                        <div class="panel-group" id="accordion">

                            <!-- Categories panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
                                        <h4 class="panel-title">Categories<span class="pull-right"><i class="bi_interface-minus"></i></span></h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-one" class="panel-collapse collapse in">
                                    <!-- panel-body -->
                                    <div class="panel-body">

                                        <div ng-if="!vm.Filter.Category">
                                            Select a Category
                                        </div>
                                        <div ng-if="vm.Filter.Category">
                                            <a class="small">
                                                <ul class="">
                                                    <li ng-repeat-start="Name in vm.Filter.Category.CategoryNames"
                                                        ng-if="$first">
                                                        <a><span>{{::Name}}</span></a>
                                                    </li>
                                                    <li ng-repeat-end
                                                        ng-if="!$first">
                                                        <a><span><span class="bi_interface-arrow-right"></span>{{::Name}}</span></a>
                                                    </li>
                                                </ul>
                                            </a>
                                            <a ng-click="vm.ResetCategory()"
                                                style="cursor: pointer">
                                                <span class="bi_interface-cross small">Reset</span> </a>
                                        </div>

                                        <ul>
                                            <li ng-repeat="sub in vm.Selection.Category">
                                                <a ng-click="vm.GetCategoryChildren(sub)"
                                                    style="cursor: pointer"
                                                    ng-class="vm.Filter.Category.Name == sub.Name?'underline':''">{{::sub.Name}} <span>(10)</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->

                            <!-- Type panel -->
                            <div class="panel-default panel-faq"
                                ng-show="vm.IfCategoryHas('Buyable/Swappable')">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-six">
                                        <h4 class="panel-title">Type of Ad
											<span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-six" class="panel-collapse collapse">
                                    <!-- panel-body -->
                                    <div class="panel-body">
                                        <label for="buyable" class="style">
                                            <input type="checkbox" name="buyable" id="buyable" ng-model="vm.Filter.Buyable">
                                            Buy</label>
                                        <label for="swappable">
                                            <input type="checkbox" name="swappable" id="swappable" ng-model="vm.Filter.Swappable">
                                            Swap</label>
                                        <label for="rentable">
                                            <input type="checkbox" name="rentable" id="rentable" ng-model="vm.Filter.Rentable">
                                            Rent</label>
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->

                            <!--Urgency panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-seven">
                                        <h4 class="panel-title">Urgency
											<span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-seven" class="panel-collapse collapse in">
                                    <!-- panel-body -->
                                    <div class="panel-body">
                                        <label for="noturgent" ng-class="vm.Filter.Urgency[99]?'checked':''">
                                            <input type="checkbox" name="noturgent" id="noturgent"
                                                ng-model="vm.Filter.Urgency[99]" ng-true-value="'99'" ng-false-value="">
                                            Not Urgent</label>
                                        <label for="asap" ng-class="vm.Filter.Urgency[0]?'checked':''">
                                            <input type="checkbox" name="asap" id="asap"
                                                ng-model="vm.Filter.Urgency[0]" ng-true-value="'0'" ng-false-value="">
                                            As soon as possible</label>
                                        <label for="week" ng-class="vm.Filter.Urgency[1]?'checked':''">
                                            <input type="checkbox" name="week" id="week"
                                                ng-model="vm.Filter.Urgency[1]" ng-true-value="'1'" ng-false-value="">
                                            Within a week</label>
                                        <label for="two-weeks" ng-class="vm.Filter.Urgency[2]?'checked':''">
                                            <input type="checkbox" name="two-weeks" id="two-weeks"
                                                ng-model="vm.Filter.Urgency[2]" ng-true-value="'2'" ng-false-value="">
                                            Within 2 weeks</label>
                                        <label for="month" ng-class="vm.Filter.Urgency[3]?'checked':''">
                                            <input type="checkbox" name="month" id="month" selected
                                                ng-model="vm.Filter.Urgency[3]" ng-true-value="'3'" ng-false-value="">
                                            Within a month</label>
                                        <!--     <center>
                                        <button type="button" class="btn form-control"
                                            ng-disabled="vm.Processing"
                                            style="width: 60px; height: auto; background-color: green" tooltip="apply filter"
                                            ng-click="vm.Filtering = true;vm.SearchPosts()" value="Search">
                                            <center>
                                            <i class="bi_interface-search font-5" style="color: white"></i>
                                            </center>
                                        </button>
                                        </center>-->
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->

                            <!-- panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-heading -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#accordion-three">
                                        <h4 class="panel-title">Budget
											<span class="pull-right"><i class="bi_interface-plus"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <!-- panel-heading -->

                                <div id="accordion-three" class="panel-collapse collapse in">
                                    <!-- panel-body -->
                                    <div class="panel-body">
                                        <div class="price-range">
                                            <!--price-range-->
                                            <div class="price">
                                                <input type="number" ng-model="vm.Filter.Budget" class="form-control"><br />
                                            </div>
                                        </div>
                                        <!--/price-range-->
                                    </div>
                                    <!-- panel-body -->
                                </div>
                            </div>
                            <!-- panel -->

                            <!-- panel -->
                            <div class="panel-default panel-faq">
                                <!-- panel-body -->
                                <div class="panel-body">
                                    <img src="./assets/img/ad-placeholder.png">
                                </div>
                                <!-- panel-body -->
                            </div>
                            <!-- panel -->

                        </div>
                        <!-- panel-group -->
                    </div>
                </div>
                <!-- accordion-->

                <!-- recommended-ads -->
                <div class="col-sm-7 col-md-9" id="posts">

                    <div class="section recommended-ads" style="background-color: transparent; padding: 10px 25px;">
                        <!-- featured-top -->
                        <div class="featured-top">

                            <div ng-if="vm.Filter.Category">
                                <h4 ng-repeat-start="Name in vm.Filter.Category.CategoryNames"
                                    ng-if="$first">{{::Name}}
                                </h4>
                                <h4 ng-repeat-end ng-if="!$first">
                                    <i class="bi_interface-right"></i>{{::Name}}
                                </h4>
                            </div>
                            <div ng-if="!vm.Filter.Category || vm.Filter.Category.CategoryNames.length<=0">
                                <h4>All Categories</h4>
                            </div>
                            <div class="dropdown pull-right">
                                <!-- category-change -->
                                <div class="dropdown category-dropdown">
                                    <h5>Sort by:</h5>
                                    <a data-toggle="dropdown" href="#"><span class="change-text">{{vm.Filter.Sort?vm.Filter.Sort:'Date Posted'}}</span><i class="bi_interface-bottom"></i></a>
                                    <ul class="dropdown-menu category-change" style="cursor: pointer">
                                        <li><a ng-click="vm.Filter.Sort='Date Posted';vm.SearchPosts()">Date Posted</a></li>
                                        <li><a ng-click="vm.Filter.Sort='Budget - Low to High';vm.SearchPosts()">Budget - Low to High</a></li>
                                        <li><a ng-click="vm.Filter.Sort='Budget - High to Low';vm.SearchPosts()">Budget - High to Low</a></li>
                                    </ul>
                                </div>
                                <!-- category-change -->
                            </div>
                        </div>
                        <!-- featured-top -->

                        <!--Ads List-->
                        <div ng-include="'app/Views/Shared/AdsList.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container -->
</section>
<!-- main -->
