﻿<div class="page-heading listing-page">
    <div class="page-heading-inner-container text-center">
        <h1>My Account</h1>
        <ul class="breadcrumbs">
            <li><a href="/#/Dashboard">Home</a>
            </li>
            <li><span>My Account</span>
            </li>
        </ul>
    </div>
    <div class="page-header-overlay"></div>
</div>


<section class="aliceblue">
    <div class="dashboard-tabs">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="tab in vm.tabs"
                    ng-class="{active:vm.isActiveTab(tab)}">
                    <a ng-click="vm.onClickTab(tab)">{{tab.title}} 
                        <span ng-if="tab.notifCount>0" class="label label-danger pull-right margin-left-5 font-13">{{::tab.notifCount}}</span></a>
                </li>
            </ul>

        </div>
    </div>
    <div class="container">
        <!-- Tab panes -->
        <div ng-include="vm.currentTab"></div>
    </div>
</section>
