﻿<!-- myads-page -->
<section id="ad-post" class="clearfix myads-page">
    <div class="container" ng-if="vm.ShowProfilePanel">
        <div class="ad-profile section">
            <div class="user-profile">
                <div class="user-images">
                     <img ng-if="vm.Profile.ImageUrl" ng-src="{{vm.Profile.ImageUrl}}" alt="User" class="img-responsive"/>
                        <img ng-if="!vm.Profile.ImageUrl" ng-src="./assets/img/user2-placeholder.png" alt="User" class="img-responsive">
                </div>
                <div class="user">
                    <h2>{{vm.Profile.Name}} <span>(<i class="fa fa-star"></i> {{vm.AverageRating | number:1}})</span></h2>
                    <h5>{{vm.Profile.City}}, {{vm.Profile.Country}}</h5>
                </div>

                <div class="ads-user">
                    <div class="ads-number">
                        <a href="my-ads.html">{{vm.ActiveAdsCount}}<small>Active Ads</small></a>
                    </div>
                </div>
            </div>
            <!-- user-profile -->

            <!--navigation-->
            <ul class="user-menu" role="tablist">
                <li ng-repeat="tab in vm.tabs" style="cursor:pointer"
                    ng-class="{active:vm.isActiveTab(tab)}" ng-if="::vm.IsTabViewable(tab)">
                    <a ng-click="vm.onClickTab(tab)">{{tab.title}} 
                        <span ng-if="tab.notifCount>0" class="label label-danger pull-right margin-left-5 font-13">{{::tab.notifCount}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--Tab Content-->
        <div id="tabContainer" ng-include="vm.currentTab"></div>
    </div>
    <!-- container -->
</section>
<!-- myads-page -->
