﻿<div class="">
    <div class="main-inner">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                        <div class="page-title">
                            <h1>Sign Up for an Account<br>
                                <span style="font-size: 12px; color: #9e9e9e">Get started in less than 30 seconds and post unlimited ads now.</span>
                            </h1>
                        </div>
                        <!-- /.page-title -->
                        <form method="post" action="?">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text"
                                        ng-model="vm.LoginData.Name" class="form-control" placeholder="Full Name">
                                </div>
                                <div class="col-sm-12 mt30">
                                    <input type="text"
                                        ng-model="vm.LoginData.Email"
                                        class="form-control" placeholder="E-mail Address">
                                </div>
                                <div class="col-sm-12 mt30">
                                    <input type="text"
                                        ng-model="vm.LoginData.Mobile"
                                        class="form-control" placeholder="Mobile Number">
                                </div>
                                <div class="col-sm-12 mt10">
                                    <input type="password"
                                        ng-model="vm.LoginData.Password"
                                        class="form-control" placeholder="Password">
                                </div>
                                <div class="col-sm-12 mt10">
                                    <input type="password"
                                        ng-model="vm.LoginData.Password2"
                                        class="form-control" placeholder="Repeat Password">
                                </div>
                                <div class="col-sm-12 mt10" ng-if="vm.Countries.length>0">
                                    <select id="countryselect" class="form-control"
                                        title="asd"
                                         ng-model="vm.LoginData.Country" ng-options="o as o.Name for o in vm.Countries"></select>
                                    <!--<selectpicker data-idz="countrychoice" data-array="vm.Countries" data-model=""></selectpicker>-->
                                </div>

                                <div class="col-sm-12 mt10" ng-if="vm.LoginData.Country.Subs.length>0">
                                    <select id="Select1" class="form-control" 
                                        ng-model="vm.LoginData.City" ng-options="o as o.Name for o in vm.LoginData.Country.Subs"></select>
                                    <!--<selectpicker data-array="vm.LoginData.Country.Subs" data-model="vm.LoginData.City"></selectpicker>-->
                                </div>
                                <div class="col-sm-12 mt10">
                                    <small>By signing up, I agree to the <a href="#!">Terms of Service</a>, and <a href="#!">Privacy Policy</a>.
                                    </small>
                                </div>
                                <div class="col-sm-12 mt10">
                                    <button type="button"
                                        ng-click="vm.Signup(vm.LoginData)" class="btn btn-primary" style="width: 100%">
                                        Sign Up</button>
                                </div>
                            </div>
                            <!-- /.form-group -->

                        </form>
                    </div>

                    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                        <div clas="row">
                            <div class="col-sm-12">
                                <div class="no-account">
                                    Already have an account?
											<a href="login.html" class="sign-up">Log In</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                        <div class="row">
                            <h2 class="divider"><span>or</span></h2>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-facebook" style="">
                                <i class="fa fa-facebook-official pull-left" style="font-size: 20px"></i>Continue with <b>Facebook</b>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-google-plus" style="">
                            <i class="fa fa-google-plus pull-left" style="font-size: 20px"></i>Continue with <b>Google Plus</b>
                        </button>
                    </div>
                    <!-- /.col-sm-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-inner -->
</div>
