﻿<!-- login-page -->
<section id="main" class="clearfix user-page">
    <div class="container box-wrapper">
        <div class="row text-center">
            <!-- user-login -->
            <div class="box-center">

                <form name="signupForm"
                      novalidate>
                    <div class="user-account">
                        <h2>Create An Account <!--<span ng-if="vm.tmpPost">To Proceed</span>--></h2>
                        <button class="btn-primary btn-facebook"
                                ng-disabled="vm.Processing"
                                ng-click="vm.LoginUsingFacebook()">
                            Register using Facebook
                        </button>
                        <!-- form -->
                        <div class="login-separator">
                            <span class="separator-text">or</span>
                            <hr>
                        </div>
                        <div class="form-group">
                            <label>I am a/an <span>*</span></label>
                        </div>
                        <div class="col-xs-12">
                            <div class="row margin-bottom-20">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio"
                                           ng-click="vm.SignupDetails.Type = 'individual'" checked>Individual
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio"
                                           ng-click="vm.SignupDetails.Type = 'company'">Company
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Full Name<span class="small"> *</span></label>
                            <input type="text"
                                   name="fullname"
                                   ng-model="vm.SignupDetails.Name"
                                   min="5"
                                   class="form-control validation"
                                   minlength="5" maxlength="40" required>
                            <span class="small-red"
                                  ng-if="signupForm.fullname.$error.minlength || signupForm.fullname.$error.maxlength">Minimum length of 5 to maximum of 40</span>
                        </div>

                        <div class="form-group" ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }">
                            <label>E-mail Address<span class="small"> *</span></label>
                            <input type="email" name="email"
                                   ng-model="vm.SignupDetails.Email"
                                   ui-validate-async="{unique : 'vm.UserHasUniqueEmail($modelValue)'}"
                                   class="form-control validation" placeholder=""
                                   maxlength="40" required>
                            <span class="small-red" ng-if="signupForm.email.$error.email">Full email address example: example@provider.com</span>
                            <span class="small-red" ng-if="signupForm.email.$error.unique">Email has already been used.</span>
                        </div>

                        <div class="form-group">
                            <label>Mobile<span></span></label>
                            <input type="text" name="mobile"
                                   ng-model="vm.SignupDetails.Mobile"
                                   class="form-control validation" minlength="10" maxlength="13">
                            <span class="small-red" ng-if="signupForm.mobile.$error.minlength">Minimum length of 10</span>
                            <span class="small-red" ng-if="signupForm.mobile.$error.maxlength">Maximum length of 13</span>
                        </div>

                        <div class="form-group">
                            <label>Password<span class="small"> *</span></label>
                            <input type="password" name="password"
                                   ng-model="vm.SignupDetails.Password"
                                   class="form-control validation" minlength="6" maxlength="20" required>
                            <span class="small-red" ng-if="signupForm.password.$error.minlength">Minimum length of 6</span>
                        </div>

                        <div class="form-group">
                            <label>Confirm Password<span class="small"> *</span></label>
                            <input type="password" name="password2"
                                   ng-model="vm.SignupDetails.Password2"
                                   class="form-control validation" minlength="6" maxlength="20" required>
                            <span class="small-red" ng-if="signupForm.password2.$error.minlength">Minimum length of 6</span>
                            <span class="small-red" ng-if="vm.SignupDetails.Password != vm.SignupDetails.Password2">Passwords must match</span>
                        </div>

                        <div class="form-group">
                            <label>Country<span class="small"> *</span></label>
                            <select id="Select1" class="form-control validation"
                                    ng-model="vm.Selected.Country" ng-options="o as o.Name for o in vm.Countries"
                                    required>
                                <option value="">Select a country</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>City<span class="small"> *</span></label>
                            <select id="Select2" class="form-control validation"
                                    ng-model="vm.Selected.City" ng-options="o as o.Name for o in vm.Selected.Country.Subs"
                                    required>
                                <option value="">Select a city</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="form-control btn btn-primary"
                                    ng-click="vm.Signup(vm.SignupDetails)"
                                    ng-disabled="signupForm.$invalid ||
                                (vm.SignupDetails.Password != vm.SignupDetails.Password2) || vm.Processing">
                                <span style="color: white;">
                                    Register
                                </span>
                            </button>
                        </div>

                        <div class="create-account">
                            Already a member? <a href="/Login">Login</a>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </div>
            <!-- user-login -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- login-page -->
