﻿<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <h3 class="title text-center">Help &amp; Support</h3>
            <div class="section about">
                <div class="about-info">
                    <div class="row">

                        <!-- about-text -->
                        <div class="col-md-12">
                            <div class="about-text">
                                <!-- description-paragraph -->
                                <div class="description-paragraph">
                                    For any inquiries or questions regarding our services, please don't hesitate to <a href="/Contact"><u>contact us</u></a> 
                                   
                                </div>
                                <!-- description-paragraph -->

                            </div>
                            <!-- description-paragraph -->
                        </div>
                        <!-- about-text -->
                    </div>
                </div>
                <!-- about-info -->



            </div>
            <!-- about -->

        </div>
    </div>
    <!-- container -->
</section>
<!-- main -->

