﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<script type="text/javascript" src="~/appAdmin/test.ts"></script>
<script type="text/javascript" src="~/appAdmin/test.js"></script>
<html>
    <head>
       Admin Panel
    </head>
    <body></body>
</html>