﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopKeywordWatchController as pskwc"
    ng-model-options="{ debounce: { 'default': 0, 'blur': 0 } }">
    <div class="my-notifications section">
        <!-- keywords -->
        <div class="row">
            <!-- Step 1 -->
            <div class="col-sm-12">
                <h3>Step 1: Buy Slots</h3>
                <div class="notif-box">
                    <div ng-form="BuySlotForm" class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <p>You have {{vm.Premiums.length>0?vm.Premiums.length:"0"}} Keyword Slots to use ({{::vm.FreeKeywordSlots}} of them given to you for FREE)</p>
                                <p>Go to available keyword slots <a ng-click="vm.Util.FocusToElement('slots')">HERE</a></p>
                                <p>Note: More slots means you can watch more keywords</p>
                                <p>Note: It is recommended to extend a current slot if in case it expires instead of buying a new slot</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label">Duration <span class="required">*</span></label>
                            <select ng-options="d as d.Label for d in pskwc.Choices" ng-model="pskwc.Choice"
                                class="form-control" required>
                                <option value="">Select Duration</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label">Quantity <span class="required">*</span></label>
                            <input type="number" ng-model="pskwc.Quantity"
                                class="form-control" min="1" max="15" required />
                        </div>
                        <div class="col-sm-2">
                            <label class="form-label">&nbsp;</label>
                            <button class="btn btn-primary btn-add-keyword width-100-per"
                                ng-disabled="BuySlotForm.$invalid"
                                ng-click="pskwc.BuyPremium()">
                                Add</button>
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <small>Total Slots: {{pskwc.Quantity}}</small>
                        <h3>Total Credit Cost: {{pskwc.TotalPricing()}}</h3>
                    </div>
                </div>
            </div>
            <!-- step 2-->
            <div class="col-sm-12">
                <h3>Step 2: Type Keyword</h3>
                <div class="notif-box">
                    <div class="row" ng-form="keywordForm">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <p>Keywords are words you want to watch to notify you of peoples demand</p>
                                <p>Note: Keywords should be assigned to a "Keyword Slot" to take effect</p>
                                <p>Note: Keywords assigned to a slot cannot be deleted</p>
                                <p>Note: Keywords recently added should be saved by clicking "Save Keywords"</p>
                            </div>
                            <div class="credit-info premium-info">
                                <label class="form-label">
                                    What keywords do you want to watch? <span class="required">*</span>
                                </label>
                                <input class="form-control validation" minlength="5" maxlength="20"
                                    ng-model="pskwc.Keyword" type="text" required
                                    placeholder="What keywords do you want to watch and get notified?">

                                <span class="small-red"
                                    ng-if="keywordForm.$error.minlength">Should have length from 5 to 20 characters</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Where do you want to watch them? <span class="required">*</span></label>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control validation" ng-options="country as country.Name for country in vm.Countries"
                                ng-model="vm.Selected.Country">
                                <option value="">All countries</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control validation" ng-options="country as country.Name for country in vm.Selected.Country.Subs"
                                ng-model="vm.Selected.City">
                                <option value="">All cities</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-add-keyword"
                                ng-disabled="keywordForm.$invalid"
                                ng-click="pskwc.AddKeyword()">
                                Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="margin-top-45">
                                <a class="del-skill"
                                    ng-repeat="keywords in pskwc.KeywordUsers">
                                    <label class="label label-default label-skill">
                                        {{keywords.Keyword.Word}} - {{keywords.DisplayLocation}} 
                                        <i ng-show="keywords.Unsaved">UNSAVED</i>
                                        <i class="bi_interface-cross" ng-hide="keywords.Used"
                                            style="cursor: pointer"
                                            ng-click="pskwc.RemoveKeyword(keywords)"></i>
                                    </label>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-20 text-right">
                        <button ng-click="pskwc.SaveKeywords(pskwc.KeywordUsers)"
                            ng-disabled="vm.Processing ||  !pskwc.ChangeHappened"
                            class="btn btn-primary">
                            Save Keywords</button>
                    </div>

                    <div class="margin-top-20">
                        <h3>Total Keywords: {{pskwc.KeywordUsers.length}}/{{vm.Premiums.length}}</h3>
                    </div>
                </div>

            </div>

            <!-- step 3 -->
            <div class="col-sm-12" id="slots">
                <h3>Step 3: Assign Keyword to Slot</h3>
                <div class="notif-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <p>You have {{vm.Premiums.length>0?vm.Premiums.length:"0"}} Premium Slots to use ({{::vm.FreeKeywordSlots}} of them given to you for FREE)</p>
                                <p>Note: You can deselect a keyword on a slot by clicking "none" on "Add Keyword" dropdown</p>
                                <p>Note: If slot expires, keyword assigned to that slot will not take effect. meaning you will not be able to watch demands using the keyword. In that case, its better to remove that keyword on that slot and place it on another active slot.</p>
                            </div>
                        </div>
                        <!-- Slots -->
                        <div class="col-sm-4 margin-bottom-5 margin-top-5"
                            ng-repeat="premium in vm.Premiums">

                            <small><b>Assigned Keyword</b> : {{premium.KeywordUser?premium.KeywordUser.Keyword.Word+' - ' + premium.KeywordUser.DisplayLocation:'None'}}</small><br>
                            <button ng-click="OpenExtendPremiumModal('col-sm-7',premium)"
                                class="btn btn-primary btn-add-keyword width-100-per">
                                <div ng-show="vm.Util.IfExpired(premium.ExpirationDate)">
                                    <small>Extend duration to use</small>
                                    <br />
                                    <span class="label label-danger">SLOT Expired <span am-time-ago="premium.ExpirationDate"></span></span>
                                </div>
                                <div ng-show="!vm.Util.IfExpired(premium.ExpirationDate)">
                                    <small>Slot to expire</small>
                                    <br />
                                    <span am-time-ago="premium.ExpirationDate"></span>
                                </div>
                            </button>
                        </div>
                        <!-- End Slots -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="margin-top-45">
                                <h4>Unassigned keywords</h4>
                                <div ng-if="pskwc.UnassignedKeywordUsers.length<=0 || !pskwc.UnassignedKeywordUsers">
                                    All keywords are assigned or no keywords were created
                                </div>
                                <a class="del-skill"
                                    ng-repeat="keywords in pskwc.UnassignedKeywordUsers">
                                    <label class="label label-default label-skill">
                                        {{keywords.Keyword.Word}} - {{keywords.DisplayLocation}} 
                                    </label>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
</div>



<script type="text/ng-template" id="ExtendPremiumModal.html">
 <div class="">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()">&times;</button>
          <h4 class="modal-title">Slot</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row padding-bottom-40">
                <div class="col-sm-12">
                  <label class="form-label">Add Keyword <small>optional</small></label>
                   <select ng-options="d as d.Keyword.Word+' - '+d.DisplayLocation+' '+(d.Unsaved?'UNSAVED':'')
                     disable when d.Unsaved==true for d in pskwc.KeywordUsers track by d.ID" 
                    ng-model="pskwc.SelectedKeywordUser"
                class="form-control">
                    <option value="">none</option>
                </select>
                </div>
                <div class="col-sm-12">
                  <label class="form-label">Extend Duration <small>optional</small></label>
                <select ng-options="d as d.Label+' - '+d.CreditCost+' Credits' for d in pskwc.Choices" 
                    ng-model="pskwc.ExtendPricingChoice"
                class="form-control">
                    <option value="">none</option>
                </select>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">&nbsp;</label>
                  <button class="btn btn-primary btn-add-keyword width-100-per"
                    ng-click="ok()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</script>
