﻿<div class="col-sm-12 col-md-9" ng-controller="PremiumShopKeywordWatchController as pskwc">
    <div class="my-notifications section">
        <!-- reviews -->
        <div class="row">
            <!-- review 1-->
            <div class="col-sm-12">
                <h3>Keyword Slots available for you to use is {{pskwc.FreeSlots}} (free) + {{vm.Premiums.length>0?vm.Premiums.length:"0"}} (purchased)</h3>
                <h4>Additional keywords to watch are premium purchases</h4>
                <!-- Add keyword slots-->
                <div class="notif-box">
                    <h4>Buy additional slots</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Duration</label>
                            <div class="credit-info premium-info">
                                <select ng-options="d as d.Label for d in pskwc.Choices" ng-model="pskwc.Choice"
                                    class="form-control">
                                    <option value="">Select Duration</option>
                                </select>
                            </div>
                            <div class="credit-info premium-info">
                                <label>Quantity of slots you want to purchase</label>
                                <input type="number" ng-model="pskwc.Quantity"
                                    class="form-control" />
                            </div>
                            <div class="margin-top-20">
                                <button class="btn btn-primary btn-add-keyword"
                                    ng-click="pskwc.BuyPremium()">
                                    Add</button>
                            </div>
                            <div class="margin-top-20">
                                <h3>Total Credit Cost: {{pskwc.TotalPricing()}}</h3>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label>Additional Slots Purchased</label>
                            <div class="credit-info premium-info">
                                <ol>
                                    <li ng-repeat="premium in vm.Premiums"><b>Purchased</b> <span am-time-ago="::premium.StartDate"></span>
                                        <br />
                                        <b>Expiration</b> <span am-time-ago="::premium.ExpirationDate"></span>
                                        <button class="btn" ng-click="OpenExtendPremiumModal('col-sm-7',premium)">Extend</button>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>


                </div>

                <h3>Keyword Watch</h3>
                <!-- Add keywords-->
                <div class="notif-box">
                    <h5>Type in keywords you want to watch and get notified</h5>
                    <div class="row" ng-form="keywordForm">
                        <div class="col-sm-12">
                            <div class="credit-info premium-info">
                                <input class="form-control validation" minlength="5" maxlength="20"
                                    ng-model="pskwc.Keyword" type="text" required
                                    placeholder="What keywords do you want to watch and get notified?">
                            </div>
                            <span class="small-red"
                                ng-if="keywordForm.$error.minlength">Should have length from 5 to 20 characters</span>
                        </div>
                        <p>Where do you want to watch them?</p>
                        <div class="col-sm-5">
                            <div class="">
                                <select class="form-control" ng-options="country as country.Name for country in vm.Countries"
                                    ng-model="vm.Selected.Country">
                                    <option value="">All countries</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="">
                                <select class="form-control" ng-options="country as country.Name for country in vm.Selected.Country.Subs"
                                    ng-model="vm.Selected.City">
                                    <option value="">All cities</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-add-keyword"
                                ng-disabled="keywordForm.$invalid"
                                ng-click="pskwc.AddKeyword()">
                                Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="margin-top-20">
                                <a class="del-skill"
                                    ng-repeat="keywords in pskwc.KeywordUsers">
                                    <label class="label label-default label-skill">
                                        {{::keywords.Keyword.Word}} - {{::keywords.DisplayLocation}} 
                                  <i class="bi_interface-cross" style="cursor: pointer" ng-click="pskwc.RemoveKeyword(keywords)"></i>
                                    </label>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="keyword-list">
                        <label class="label label-danger label-keyword"
                            ng-repeat="keywords in pskwc.KeywordUsers">
                            {{::keywords.Keyword.Word}} - {{::keywords.DisplayLocation}}
                            <spans style="cursor: pointer" ng-click="pskwc.RemoveKeyword(keywords)">(Delete)</spans>
                        </label>
                    </div>-->
                    <div class="margin-top-20">
                        <h3>Total Keywords used: {{pskwc.KeywordUsers.length}}/{{pskwc.FreeSlots+vm.Premiums.length}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-top-20 text-right">
                <button ng-click="pskwc.SaveKeywords(pskwc.KeywordUsers)"
                    ng-disabled="vm.Processing ||  !pskwc.ChangeHappened"
                    class="btn btn-primary">
                    Save Keywords</button>
            </div>
        </div>
        <!--row-->
    </div>
    <!-- my notif-->
</div>


<script type="text/ng-template" id="ExtendPremiumModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="col-sm-6">
               <b>Purchased</b> <span am-time-ago="::selectedPremium.StartDate"></span>
                <br />
                <b>Expiration</b> <span am-time-ago="::selectedPremium.ExpirationDate"></span>
            </div>
             <select ng-options="d as d.Label for d in pskwc.Choices" ng-model="pskwc.ExtendPricingChoice"
                class="form-control">
                <option value="">Select Duration</option>
            </select>
             <div class="margin-top-20">
                <h3>Total Credit Cost: {{pskwc.ExtendPricingChoice.CreditCost?pskwc.ExtendPricingChoice.CreditCost:0}}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Extend Duration</button>
        </div>
</script>
