﻿<!--If there is no list to show-->

<div ng-if="vm.Posts.List.length<=0 || !vm.Posts.List">
    <h4>No Advertisments.. yet</h4>
</div>

<div ng-class="vm.Posts.LookCss" dir-paginate="post in vm.Posts.List | itemsPerPage: vm.Pagination.PageSize"
    total-items="vm.Posts.Count"
    current-page="vm.Pagination.Current">

    <!-- featured -->
    <div id="" class="featured">
        <div class="featured-image">
            <a>
                <img ng-src="{{vm.Util.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive">
            </a>
            <a ng-if="post.Status=='expired'"
                class="pending" data-toggle="tooltip" data-placement="left" title="Expired"><i class="fa fa-ellipsis-h"></i></a>
            <!--<a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="bi_ecommerce-tracking"></i></a>-->
        </div>

        <!-- ad-info -->
        <div class="ad-info">
            <div class="row">
                <div class="col-xs-5 item-container">
                    {{::vm.TextModifierService.RequestText(post)}}:
                </div>
                <div class="col-xs-7" style="padding: 0">
                    <span class="item-buy"><a>{{::post.Title}}</a></span>

                    <span ng-show="post.Featured" class="label label-default">featured</span>
                    <span ng-show="post.Status =='expired'" class="label label-expired">Expired Ad</span>
                </div>
                <!--  <div class="item-cat" style="cursor: pointer">
                        <span><a>{{::post.Category.Name}}</a></span>
                    </div>-->
            </div>
            <div class="row" >
                <div class="col-xs-5 item-container">
                    {{::vm.TextModifierService.BudgetText(post.Category,post.Selling)}}:
                </div>
                <div class="col-xs-7" style="padding: 0">
                    <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                    <!--<span class="negotiable">(Negotiable)</span>-->
                </div>
            </div>
            <div class="row" ng-if="vm.IsOwner(post)">
                <div class="col-xs-5 item-container">
                    Expires:
                </div>
                <div class="col-xs-7" style="padding: 0">
                    <i class="bi_time-wall-clock"></i><span am-time-ago="::post.ExpirationDate"></span>
                </div>
            </div>
            <div class="make-offer">
                <a ng-href="/Post/{{::post.LinkPostfix}}"
                    ng-class="post.Status=='expired'?'btn btn-primary btn-expired':'btn btn-primary'">{{::vm.TextModifierService.ButtonText(post.Category,post.Selling)}}</a>
            </div>
        </div>
        <!-- ad-info -->

        <!-- ad-meta -->
        <div class="ad-meta" style="background-color: #fff">
            <div class="meta-content">
                <span class="dated" style="padding-left: 25px; font-size: 13px"><i class="bi_time-wall-clock"></i><span am-time-ago="::post.ModifiedOn"></span>
                    <i class="bi_location-alt-pin"></i>{{::post.DisplayLocation}}</span><br>
            </div>
           <!-- <div class="user-option pull-right">
                <a data-toggle="tooltip" data-placement="top" title="Add Favorites"><i class="fa fa-heart-o"></i></a>
            </div>-->
            <!-- item-info-right -->
        </div>
        <!-- ad-meta -->
    </div>
    <!-- featured -->

</div>

<!-- pagination  -->
<div class="col-xs-12" ng-if="vm.Posts.List.length>0">
    <div class="text-center">
        <dir-pagination-controls
            class="pagination"
            max-size="10"
            on-page-change="vm.SearchPosts(newPageNumber, oldPageNumber)"
            auto-hide="true">
        </dir-pagination-controls>
    </div>
</div>
