﻿<div>
    <data-owl-carousel class="owl-carousel" data-options="options">
                     <div owl-carousel-item="" ng-repeat="post in posts.List">
                    <!-- featured -->
                    <div id="Div1" class="featured featured-slider">
                        <div class="featured-image">
                            <a>
                                <img ng-src="{{::UtilityService.GetPostPrimaryImageLink(post)}}" alt="" class="img-respocive">
                            </a>
                            <!--<a href="all-ads-swappable.html" class="swappable" data-toggle="tooltip" data-placement="left" title="Swappable"><i class="bi_ecommerce-tracking"></i></a>-->
                        </div>

                        <!-- ad-info -->
                        <div class="ad-info">
                            <div class="row">
                                <div class="col-xs-5 item-container">
                                    {{::TextModifierService.RequestText(post)}}:
                                </div>
                                <div class="col-xs-7" style="padding:0">
                                    <span class="item-buy"><a>{{::post.Title}}</a></span>

                                    <!-- <div class="item-cat" style="cursor:pointer">
                                           <span><a ng-repeat="name in ::post.CategoryNames">{{::name}} {{$last?"":" > "}}</a></span>
                                       </div>-->
                                    <span class="label label-default" ng-show="::post.Featured">featured</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 item-container">
                                    {{::TextModifierService.BudgetText(post.Category,post.Selling)}}:
                                </div>
                                <div class="col-xs-7" style="padding:0">
                                    <span class="budget">₱{{::post.BudgetMin}} - {{::post.BudgetMax}}</span>
                                    <!--<span class="negotiable">(Negotiable)</span>-->
                                </div>
                            </div>
                            <div class="make-offer">
                                <a ng-href="Post/{{post.LinkPostfix}}" class="btn btn-primary">{{::TextModifierService.ButtonText(post.Category,post.Selling)}}</a>
                            </div>
                        </div><!-- ad-info -->
                        <!-- ad-meta -->
                        <div class="ad-meta" style="background-color:#fff">
                            <div class="meta-content">
                                <span class="dated" style="padding-left:25px;font-size:13px">
                                    <i class="bi_time-wall-clock"></i>
                                    <span am-time-ago="::post.ModifiedOn"></span>
                                    <i class="bi_location-alt-pin"></i>{{::post.City.DisplayLocation}}
                                </span><br>
                            </div>
                            <div class="user-option pull-right">
                                <a data-toggle="tooltip" data-placement="top" title="Add Favorites"><i class="fa fa-heart-o"></i></a>
                            </div><!-- item-info-right -->
                        </div><!-- ad-meta -->
                    </div><!-- featured -->
                </div>
                </data-owl-carousel>
</div>
